.flight-list-table {
	margin: 1em 0 0;
	border-collapse: collapse;
	border-spacing: 0;
	tbody {
		border: 1px solid darken(#fff, 10%);
		border-left: none;
		border-right: none;
		margin-bottom: .5em;
		tr:nth-child(2n) {
			background-color: darken(#fff, 4%);
		}
	}
	th, td {
		vertical-align: bottom;
		padding: .3em 0;
		text-align: left;
	}
	.start {
		text-align: right;
		&:after {
			content: "—";
		}
	}
}
