$timeline-height: 50px;
.timeline {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: $timeline-height;
	background: rgba(#fff, .8);
}
.button {
	display: inline-block;
	border: none;
	background: #c71e1e;
	color: #ffd8c4;
	font: inherit;
	padding: .5em;
	box-sizing: border-box;
}
.button-play-pause {
	float: left;
	width: $timeline-height;
	height: $timeline-height;
	.default { display: none; }
	&.playing:after { content: '▐▐  '; }
	&.paused:after { content: '▶'; }	
}
.backwards .button-play-pause.paused:after { content: '◀︎'; }
.timeline-time-hud {
	position: absolute;
	text-align: right;
	right: 50%;
	bottom: 0;
	margin-right: - $timeline-height * .8;
	padding-right: .2em;
}
.timeline-chart {
	position: absolute;
	left: $timeline-height;
	overflow: hidden;
	right: 0;
	cursor: grab;
	padding-left: 50%;
	&:after {
		content: "";
		position: absolute;
		width: 2px;
		height: 100%;
		left: 50%;
		bottom: 0;
		margin-left: $timeline-height / 2 - 1px;
		background-color: #666;
		opacity: .5;
	}
}
