@import "timeline";

body {
	margin: 0;
	font: 1em sans-serif;
}
#map-container {
	position: relative;
	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}
}
#map-layer-arrived {
	// opacity: .5;
}
