@import "timeline";
@import "credits";
@import "modal";

body, html {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	font: 1em sans-serif;
}
h1, h2 {
	font-weight: normal;
	margin: .4em 0;
}
p {
	margin: 0;
}
#map-container {
	position: relative;
	width: 100%;
	height: 100%;
	background: #ccc;
	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}
}
#map-layer-arrived {
	// opacity: .5;
}
canvas {
	width: 100%;
	height: 100%;
}
.hidden {
	display: none;
}
